@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    /* min-height:100vh; */
    /* display:flex;
    align-items: center;  */

}
.container{
    max-width: 350px;
    min-height:100vh;
    display:flex;
    align-items: center; 
    margin:0 auto;  

    
}
.card img {
    width: 100%;
    border-radius: 16px;  
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 16px;
    text-align: center;
}
.text{
    padding: 22px 10px;
    
}

.text p{
    color:  hsl(220, 15%, 55%);
}
.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
}